.brand-logo{
    margin-left: 10px;
}
body{
    background-color: #fafafa
}
input {
    position: relative;
    top: 50%;
    transform: translateY(50%);
    display:inline-block;
}

.material-icons{
    position: relative;
    top: 50%;
    transform: translateY(125%);
}

.searchmatch{
    font-weight: bold;
}

a{
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.card-title{
    color: #e57373;
}

.material-icons{
    color: #e0e0e0;
}

.material-icons:hover{
    color: #e57373;
}


